<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}ElleOL{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/styles.min.css') }}" />            
         {% endblock %}
        <!-- Le styles -->

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{{ asset('//html5shim.googlecode.com/svn/trunk/html5.js') }}"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-touch-icon-114x114.png') }}">
    {% endblock %}  

</head>
<body>
        <header id="header">
            <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container-fluid">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">ElleOL Designs</a>
                  <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user"></i> {{app.user.username}}
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('view_profile') }}">Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ path('logout') }}">Sign Out</a></li>
                    </ul>
                  </div>
                  <div class="nav-collapse">
                    <ul class="nav">
                      <li class="active"><a href="#">Products</a></li>
                      <li><a href="#about">Orders</a></li>
                      <li><a href="#contact">Statistics</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </div>            
        </header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% block sidenav %}
                  <li class="nav-header">PRODUCTS</li>
                  <li class=""><a href="#"><i class="icon-chevron-right"></i>Invitations</a></li>
                  <li class=""><a href="#"><i class="icon-chevron-right"></i>Wine Labels</a></li>
                  <li class=""><a href="#"><i class="icon-chevron-right"></i>Cake Toppers</a></li>
                
                {% endblock %}

              <li class="nav-header">ORDERS</li>
              <li class=""><a href="#"><i class="icon-chevron-right"></i>Pending Orders</a></li>
              <li class=""><a href="#"><i class="icon-chevron-right"></i>Order History</a></li>
              <li class=""><a href="#"><i class="icon-chevron-right"></i>Customers</a></li>
              <li class=""><a href="#"><i class="icon-chevron-right"></i>Statistics</a></li>              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; ElleOL Designs 2012</p>
      </footer>

        {% block javascripts %}
            <script data-main="{{ asset('js/main') }}" src="{{ asset('js/lib/require.js') }}"></script>
            <script type="text/javascript">
                require(['main'], function() {
                    require(['bootstrap', 'jQuery','underscore', 'backbone', 'handlebars'], function() {
                        {% block jssetup %}{% endblock %}
                    });
                });
            </script>
        {% endblock %}
    </div>
</body>
</html>