	<div class="container">
		<form novalidate=true action="{{ path(post, {id: product.id}) }}" method="post" {{ form_enctype(form) }}>			
			<fieldset>
				<div id="upload-area" data-action="{{path('image_upload')}}">
					<ul class="thumbnails">
						<li class="span4">
							<a class="thumbnail" href="#">
								{% if not product.image %}
									<img src="http://placehold.it/240x340" id="thumb">
								{% else %}
									<img src="{{product.image}}" id="thumb">
								{% endif %}
							</a>
						</li>
					</ul>
					<div id="imageUploadButton" class="span2"></div>
					<div class="clearfix">
						{{ form_widget(form.image) }}
					</div>
				</div>		    				
		
				<div class="control-group clearfix">		
				    {{ form_row(form.name) }}
				    {{ form_row(form.description, {'attr': {'rows': 4}}) }}
				    {{ form_row(form.price) }}
				    {{ form_rest(form) }}
				</div>
			    <button type="submit" class="btn btn-primary">Save</button>
			    <a class="btn btn-primary" href="{{path('ElleOLAdminBundle_homepage')}}">Cancel</a>				    

			</fieldset>			    
		</form>					
	</div>
